.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0;
  background-color: rgba(39, 109, 171, 0.578);
}
.kanan {
  margin-left: 250px;
  background-color: rgba(12, 17, 177, 0.47);
}
.main {
  position: relative;
  top: 64px;
  width: 100%;
}
.profil {
  text-align: center;
  border-bottom: 1px solid white;
  margin: 20px 5px 10px 5px;
  padding-bottom: 10px;
}
.sidebar > .profil .foto img {
  border-radius: 50%;
}
.sidebar > .menu {
  padding: 0 5px;
}
.sidebar > .menu > ul > .menu-item {
  border-radius: 10px;
  cursor: pointer;
}
.sidebar > .menu > ul > .menu-item > a {
  display: block;
  padding: 10px 20px;
}
.sidebar > .menu > ul > .menu-item:hover {
  background-color: #ababab;
}

.sidebar > .menu > ul > .menu-item:hover > a > span,
.sidebar > .menu > ul > .menu-item:hover > a > span > i {
  color: black;
}
.status-bar {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 10px;
  border-top: 2px solid white;
  padding-top: 5px;
}